$primary: #23283e;
$text-color: #90a0d9;

.lr-20 {
    margin-left: -20px;
    margin-right: -20px;

    > [class*="col"] {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn {
    padding: 8px 10px;
    font-size: 2rem;
    background-color: $text-color;
    border-color: $primary;
    color: $primary;
    white-space: nowrap;
    transition: all 0.2s ease;
    &:hover {
        background-color: $primary;
        color: $text-color;
    }
    &.reverse {
        padding: 12px 20px;
        font-size: 2rem;
        border-color: $text-color;
        color: $text-color;
        background-color: $primary;
        &:hover {
            background-color: $text-color;
            color: $primary;
        }
    }
}
