@keyframes jiggle {
    0% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-2deg);
    }
    50% {
        -webkit-transform: rotate(2deg);
    }
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-2deg);
    }
    50% {
        -moz-transform: rotate(2deg);
    }
}

.tripList {
    width: 100%;
    list-style: none;
    margin-top: 30px;
    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            color: #cdcdff;
        }
        .green {
            color: greenyellow;
        }
        .red {
            color: red;
        }
        .filter {
            button {
                border: none;
                box-shadow: none;
                outline: none;
                background-color: #cdcdff;
                color: #23283e;
                padding: 10px 14px;
                margin-right: 10px;
                border-radius: 10px;
                font-weight: 600;
                transition: all 0.3s ease;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    transform: scale(0.98);
                }
            }
        }
    }
    li {
        padding: 20px 25px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        margin: 20px 0;
        background-color: #cdcdff;
        border-radius: 10px;
        position: relative;
        transition: 0.4s ease;
        &:nth-child(odd) {
            background-color: rgb(215, 215, 255);
        }
        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            transform: scale(1.02);
        }
        h2,
        h3 {
            font-weight: normal;
            margin-bottom: 10px;
            color: #23283e;
            span {
                font-weight: 600;
            }
        }
        p {
            margin-bottom: 0;
            color: #23283e;
        }
        .delete {
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            position: absolute;
            right: 10px;
            top: 0px;
            color: #f85050;
            font-size: 30px;
            &:hover {
                animation: jiggle 0.2s infinite;
                -webkit-animation: jiggle 0.2s infinite;
                -moz-animation-duration: 0.2s;
                -moz-animation-name: jiggle;
                -moz-animation-iteration-count: infinite;
                -webkit-transform: rotate(-1deg);
                -moz-transform: rotate(-1deg);
            }
        }
    }
}
